.job-card {
    background: #fff2fc;
    border-radius: 8px;
    width: 515px;
    position: relative;
    margin-right: 45px;
    padding: 5px;
    height: auto;
}

.job-card:hover {
    cursor: pointer;
}

.job-card-click {
    background: #fff2fc;
    border-radius: 8px;
    width: 515px;
    position: relative;
    margin-right: 45px;
    padding: 5px;
    border: 1px solid #ed1b2f;
}

.job-card-click::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    margin: 8px 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #ed1b2f;
}

.job-card-click::after {
    content: "";
    position: absolute;
    right: -8px;
    bottom: calc(50% - 8px);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid red;
}

.super-hot {
    position: absolute;
    top: 10px;
    right: 0;
    background: #ed1b2f;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.super-hot::after {
    content: "";
    position: absolute;
    border-top: 8px solid #ed1b2f;
    top: 100%;
    right: 0%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
}

.hot {
    position: absolute;
    top: 10px;
    right: 0;
    background: #ff9119;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.hot::after {
    content: "";
    position: absolute;
    border-top: 8px solid #ff9119;
    top: 100%;
    right: 0%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
}

.info-company {
    margin: 20px 15px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #a1a1a1;
}

.posted-time {
    color: rgb(164, 164, 164);
    font-size: 15px;
    font-weight: 500;
}

.job-title-company {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.company {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-in-list {
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
}

.company img {
    max-height: 55px;
    max-width: 55px;
    border-radius: 3px;
}

.company-name {
    font-size: 18px;
    font-weight: 500;
    padding-top: 15px;
    color: #5c5c5c;
}

.company-name:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.salary {
    display: flex;
    align-items: center;
    height: 40px;
    color: #414042;
    font-weight: bold;
    cursor: pointer;
    gap: 8px;
}

.salary span {
    color: #414042;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 2px;
    text-decoration: underline;
}

.location-company {
    color: #414042;
    margin-top: 10px;
    margin: 15px;
}

.location-address {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 14px;
}

.tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.tags span {
    background: #ffffff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #b7b7b7;
}

.tags span:hover {
    border: 1px solid #1f1f1f
}

.benefits {
    border-top: 1px dashed #a1a1a1;
    margin: 20px 15px;
    padding: 10px 0 0 20px;
    font-size: 15px;
    font-weight: 600;
}

.benefits div {
    color: black;
    margin: 5px 0;
}

.benefits div::before {
    content: "•";
    color: red;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    width: 1em;
    height: 10px;
}