.job-filter-container {
    padding: 20px;
    position: relative;
    margin-top: 150px;
    width: 100%;
    justify-content: center;
}

.job-count {
    font-size: 24px;
    font-weight: bold;
    margin: 0 4% 10px;
}

.filter-box {
    display: flex;
    position: relative;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 92%;
    margin: 0 4% 10px;
}

.filter-button {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    gap: 7px;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ddd;
    background: #fff;
    font-weight: 500;
    color: #414042;
}

.filter-button:hover {
    border: 1px solid #101010;
}

.filter-icon-button {
    display: flex;
    position: absolute;
    right: 15px;
    border: none;
    background: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #c3c3c3;
}

.filter-icon-button .icon {
    margin-right: 7px;
    padding: 2px 0 0 0;
}


.dropdown-menu-filter-level {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    top: 50px;
    margin-top: 5px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 50;
}

.dropdown-menu-filter-working {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    top: 50px;
    left: 105px;
    margin-top: 5px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 50;
}

.dropdown-menu-filter-industry {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    top: 50px;
    left: 382px;
    margin-top: 5px;
    width: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 50;
    overflow-y: scroll;
    height: 250px;
}

.dropdown-menu-filter-industry::-webkit-scrollbar {
    width: 5px;
    height: 0;
}

.dropdown-menu-filter-industry::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.dropdown-menu-filter-industry::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 10px;
}

.dropdown-menu-filter-industry label {
    font-size: 14px;
}

.dropdown-item-filter {
    display: flex;
    padding: 8px;
    cursor: pointer;
    gap: 3px;
    font-size: 18px;
}

.dropdown-item-filter input {
    margin-right: 8px;
    width: 20px;
}

.search-industry {
    margin: 9px;
    width: 95%;
    padding: 4px;
}

/* Salary */
.salary-filter {
    position: absolute;
    background: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid #ccc;
    top: 50px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    margin-top: 5px;
    left: 280px;
    z-index: 50;
}

.salary-text {
    position: relative;
    left: -60px;
    color: #414042;
    font-size: 16px;
    font-weight: 500;
}

.range-track {
    background: #1ea22d;
    position: absolute;
    width: 216px;
    top: 44px;
    margin-left: 15px;
    left: 0;
    height: 6px;
    border-radius: 6px;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 40px;
}

.range-slider {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    appearance: none;
    background: transparent;
    height: 5px;
    pointer-events: none;
    border-radius: 15px;
}

.range-slider::-webkit-slider-thumb {
    appearance: none;
    width: 18px;
    height: 18px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px solid #bbb;
    cursor: pointer;
    pointer-events: all;
}

.apply-button-salary {
    width: 100%;
    padding: 8px;
    background: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    border: 1px solid #ff0000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 500;
}
