.reset-filter {
    position: absolute;
    border: none;
    color: rgb(0, 0, 255);
    background: #fff;
    font-weight: 500;
    font-size: 17px;
    left: 20px;
}

.reset-filter:hover {
    color: rgb(35, 35, 160);
}

.btn-apply-filter {
    border: 1px solid #ed3535;
    background: #ed3535;
    width: 180px;
    margin: 10px 25px 10px 10px;
    height: 44px;
    border-radius: 4px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}

.fw-bold {
    font-size: 17px;
}

.job-level {
    width: 70%;
}

.job-level span {
    border: 1px solid #ddd;
    border-radius: 22px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 10px;
}

.job-level span:hover {
    border: 1px solid #101010;
}

.industry-scroll {
    max-height: 200px;
    overflow-y: auto;
}

.industry-scroll::-webkit-scrollbar {
    width: 5px;
    height: 0;
}

.industry-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.industry-scroll::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 10px;
}